body
{
    max-width: 40%;
    margin: auto;
    font-family: "Inter", sans-serif;

}
.header
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}


 h1
{
    font-family:  "Delius Unicase";
    color: #330000;
    font-size: 30px;
    line-height: 51px;
    text-align: center; 
    margin-top: 50px;
    width: 200px;

}

.header img
{
    width: 170px;
    height: auto;
}

.content h2
{
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}

.dang-ky
{
    
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #FF9933;
    border-radius: 8px;
    padding: 24px;
    gap: 24px;
    width: 360px;
    
    height: 400px;
    left: 107px;
    top: 247px;
}

.dang-nhap p
{
    font-size: 19px;
}
.dang-ky .input-username p
{
    margin: 5px;
}
.dang-ky .input-password p
{
    margin: 5px;
}
.dang-ky .input-nhaplai p
{
    margin: 5px;
}

.dang-ky .input
{
    width: 290px;
min-width: 240px;
height: 40px;

background: #FFFFFF;
border: 1px solid #FF9933;
border-radius: 8px;
padding-left: 30px;
font-size: 19px;
}
.input-username .nhap
{
    position: relative;
}
.nhap .icon-1
{
     position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.input-password .khau
{
    position: relative;
}

.khau .icon-2
{
     position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.input-nhaplai .lai
{
    position: relative;
}
.lai .icon-3
{
     position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.dang-ky .b-dangky
{
    margin-left: 55px;


/* Auto layout */


width: 199px;
height: 58px;


background: #FF9933;
border: 1px solid #FF9933;
border-radius: 8px;
color: white;
font-size: 19px;

}
.b-dangky:hover
{
    opacity: 0.8;
    color: white;
}

.b-dangky a
{
    color: white;
    text-decoration: none;
}

.footer
{
     
    justify-self: center;
   
}

.footer img
{
    width: 1300px;
    height: auto;
}